[submodule "example/utils/mujoco-sim"]
	path = example/utils/mujoco-sim
	url = https://github.com/wuji-technology/mujoco-sim
[submodule "wuji_retargeting/wuji_hand_description"]
	path = wuji_retargeting/wuji_hand_description
	url = https://github.com/wuji-technology/wuji_hand_description
